/*GENTE POR FAVVOR, VAMOS DEIXAR OS PADRÕES DE CORES EM RGB E IR COMENTANDO O CÓDIGO PARA SABERMOS EM QUE PARTE DO HTML ESTÁ*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------HEADER---------------------------------------------*/
header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 9rem;
    top: 0px;
    border-bottom: 4px rgb(201, 200, 200) inset;
    padding: 0.2rem;
}
.logo{
    width: 15rem;
    height: 10rem;
}
.logo img{
    width: 15rem;
    height: 10rem;
}
.menu{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.submenu ul li{
    font-size: 1.4rem;
    list-style: none;
}
.submenu ul li:hover{
    transform: scale(1.2);
}
.pontuacao{
    display: inline-flex;  
    align-items: center; 
}
.pontuacao h2{
    margin-right: 1rem;
}
.placar{
    background-color: rgb(255, 255, 255);
    width: 13rem;
    height: 3rem;
    border: 3px rgb(182, 179, 179) inset;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px rgb(170, 170, 170) inset;
}

/*----------------------------------------------MAIN---------------------------------------------*/
main {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
}
main img{
    height: 10rem;
    margin: 0.5rem;
}
/*----------------hardware----------------*/
.Hardware{
    display: flex;
    padding: 0.5rem;
}
.SubTitulo{
    margin: 5rem -4rem 0rem -5rem;
    padding: 0.3rem;
    font-size: 1.6rem;
}
.SubTitulo h3{
    transform: rotate(-90deg); /*Rotacionar o "hardware" para a verical*/
    border: none;
    background-color: #6e6e6e;
    border-radius: 5rem;
    padding: 0rem 2rem 0rem 3rem;
}

/*----------------software----------------*/
.Software{
    display: flex;
    padding: 1rem;
    margin-top: 3rem;
}


/*----------------------------------------------FOOTER-------------------------------------------*/
footer{
    background-color: rgb(74, 69, 78);
    width: 100%;
    min-height: 25rem;
    color: white;
}
.footer1{
    background-color: rgb(57, 55, 58);
    display: flex;
    justify-content: center;
}
.footer2{
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1{
    min-height: 25rem;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1 h3{
    margin: 0.8rem 0;
}
.bloco2{
    min-height: 25rem;
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.baixar{
    width: 15rem;
    height: 8rem;
    margin-top: 1.5rem;
}
.baixar img{
    width: 100%;
    height: 100%;
}
.bloco3{
    min-height: 25rem;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    margin: 1rem;
    width: 50px;
    height: 50px;
}
.social img{
    width: 100%;
    height: 100%;
}