/*GENTE POR FAVVOR, VAMOS DEIXAR OS PADRÕES DE CORES EM RGB E IR COMENTANDO O CÓDIGO PARA SABERMOS EM QUE PARTE DO HTML ESTÁ*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------------------------HEADER---------------------------------------------*/
header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 10rem;
    top: 0px;
    border-bottom: 4px rgb(141, 138, 138) groove;
    padding: 0.2rem;
}
.logo{
    width: 15rem;
    height: 10rem;
}
.logo img{
    width: 15rem;
    height: 10rem;
}
.menu{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*----------------------------------------------MAIN---------------------------------------------*/
main {
    background-color: rgba(0, 255, 255, 0.349);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
}

/*----------------------------------------------FOOTER-------------------------------------------*/
footer{
    background-color: rgb(74, 69, 78);
    min-height: 25rem;
}